Clients/Connected Services/EsignService/serviceEsign.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="API_ESIGN_SERVER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_dvi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_vaitro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageSignBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeSign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locationKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="positionX" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="positionY" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="withImg" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="heightImg" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typefollow" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="followCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="link_callback" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signobj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tempmail_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invisible" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="API_ESIGN_SERVERResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="API_ESIGN_SERVERResult" type="tns:responseReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="responseReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Fs_QUYTRINH_KC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_idvb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fs_QUYTRINH_KCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fs_QUYTRINH_KCResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="API_ESIGN_SERVER_C">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b_ssid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_vaitro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageSignBase64" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invisible" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="API_ESIGN_SERVER_CResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="API_ESIGN_SERVER_CResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fs_DOC2PDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b_base64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fs_DOC2PDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fs_DOC2PDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fs_TRANGTHAI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b_idvb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fs_TRANGTHAIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Fs_TRANGTHAIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="API_ESIGN_SERVERSoapIn">
    <wsdl:part name="parameters" element="tns:API_ESIGN_SERVER" />
  </wsdl:message>
  <wsdl:message name="API_ESIGN_SERVERSoapOut">
    <wsdl:part name="parameters" element="tns:API_ESIGN_SERVERResponse" />
  </wsdl:message>
  <wsdl:message name="Fs_QUYTRINH_KCSoapIn">
    <wsdl:part name="parameters" element="tns:Fs_QUYTRINH_KC" />
  </wsdl:message>
  <wsdl:message name="Fs_QUYTRINH_KCSoapOut">
    <wsdl:part name="parameters" element="tns:Fs_QUYTRINH_KCResponse" />
  </wsdl:message>
  <wsdl:message name="API_ESIGN_SERVER_CSoapIn">
    <wsdl:part name="parameters" element="tns:API_ESIGN_SERVER_C" />
  </wsdl:message>
  <wsdl:message name="API_ESIGN_SERVER_CSoapOut">
    <wsdl:part name="parameters" element="tns:API_ESIGN_SERVER_CResponse" />
  </wsdl:message>
  <wsdl:message name="Fs_DOC2PDFSoapIn">
    <wsdl:part name="parameters" element="tns:Fs_DOC2PDF" />
  </wsdl:message>
  <wsdl:message name="Fs_DOC2PDFSoapOut">
    <wsdl:part name="parameters" element="tns:Fs_DOC2PDFResponse" />
  </wsdl:message>
  <wsdl:message name="Fs_TRANGTHAISoapIn">
    <wsdl:part name="parameters" element="tns:Fs_TRANGTHAI" />
  </wsdl:message>
  <wsdl:message name="Fs_TRANGTHAISoapOut">
    <wsdl:part name="parameters" element="tns:Fs_TRANGTHAIResponse" />
  </wsdl:message>
  <wsdl:portType name="serviceSignFileSoap">
    <wsdl:operation name="API_ESIGN_SERVER">
      <wsdl:input message="tns:API_ESIGN_SERVERSoapIn" />
      <wsdl:output message="tns:API_ESIGN_SERVERSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fs_QUYTRINH_KC">
      <wsdl:input message="tns:Fs_QUYTRINH_KCSoapIn" />
      <wsdl:output message="tns:Fs_QUYTRINH_KCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="API_ESIGN_SERVER_C">
      <wsdl:input message="tns:API_ESIGN_SERVER_CSoapIn" />
      <wsdl:output message="tns:API_ESIGN_SERVER_CSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fs_DOC2PDF">
      <wsdl:input message="tns:Fs_DOC2PDFSoapIn" />
      <wsdl:output message="tns:Fs_DOC2PDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fs_TRANGTHAI">
      <wsdl:input message="tns:Fs_TRANGTHAISoapIn" />
      <wsdl:output message="tns:Fs_TRANGTHAISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceSignFileSoap" type="tns:serviceSignFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="API_ESIGN_SERVER">
      <soap:operation soapAction="http://tempuri.org/API_ESIGN_SERVER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_QUYTRINH_KC">
      <soap:operation soapAction="http://tempuri.org/Fs_QUYTRINH_KC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="API_ESIGN_SERVER_C">
      <soap:operation soapAction="http://tempuri.org/API_ESIGN_SERVER_C" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_DOC2PDF">
      <soap:operation soapAction="http://tempuri.org/Fs_DOC2PDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_TRANGTHAI">
      <soap:operation soapAction="http://tempuri.org/Fs_TRANGTHAI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceSignFileSoap12" type="tns:serviceSignFileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="API_ESIGN_SERVER">
      <soap12:operation soapAction="http://tempuri.org/API_ESIGN_SERVER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_QUYTRINH_KC">
      <soap12:operation soapAction="http://tempuri.org/Fs_QUYTRINH_KC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="API_ESIGN_SERVER_C">
      <soap12:operation soapAction="http://tempuri.org/API_ESIGN_SERVER_C" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_DOC2PDF">
      <soap12:operation soapAction="http://tempuri.org/Fs_DOC2PDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fs_TRANGTHAI">
      <soap12:operation soapAction="http://tempuri.org/Fs_TRANGTHAI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviceSignFile">
    <wsdl:port name="serviceSignFileSoap" binding="tns:serviceSignFileSoap">
      <soap:address location="http://10.111.125.83/Service/kyso/serviceEsign.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceSignFileSoap12" binding="tns:serviceSignFileSoap12">
      <soap12:address location="http://10.111.125.83/Service/kyso/serviceEsign.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>